<h5>Функция, которая решает задачу нахождения дискретного логарифма при помощи алгоритма "Шаг младенца, шаг великана"</h5>
<br>
<h6>Трудоемкость работы функции должна соответствовать описанной в учебнике и составлять O(p * log (p))</h6>

<img src="images/PowerMod.PNG" width="200px" />


<EditForm Model="myLog">
    <div style="margin-left: 105px">X</div>
    <InputNumber @bind-Value="@myLog.a" id="number_a" Class="form-control little-form" style="width: 100px; float: left;" min="1" max="999999999"></InputNumber>
    <span style="margin-left: 20px; margin-right: 10px; float: left;">mod</span>
    <InputNumber @bind-Value="@myLog.p" id="number_p" Class="form-control little-form" style="width: 100px; float: left;" min="1" max="999999999"></InputNumber>
    <span style="margin-left: 10px; margin-right: 10px; float: left;"> = </span>
    <InputNumber @bind-Value="@myLog.y" id="number_y" Class="form-control little-form" style="width: 100px; float: left;" min="1" max="999999999"></InputNumber>
    <button @onclick="@Calculator" class="btn btn-nav" style="float: left; margin-left: 10px;">Вычислить</button><br><br>
    <div class="row pb-1">
        <label for="number_m" class="pr-2">m = </label>
        <InputNumber @bind-Value="@myLog.m" id="number_m" Class="form-control little-form" style="width: 100px;" min="1" max="999999999"></InputNumber>
    </div>
    <div class="row pb-1">
        <label for="number_k" class="pr-2">k  = </label>
        <InputNumber @bind-Value="@myLog.k" Class="form-control little-form" id="number_k" style="width: 100px" min="1" max="999999999"></InputNumber>
    </div>

    <button @onclick="@GenerateRandom" class="btn btn-nav" style="float: left; margin-left: 10px;">Сгенерировать</button><br><br>
    <div class="row pb-1">
        <label class="pr-2">Проверка: </label>
        <div class="form-control little-form" style="width: 400px">
            @mCheck = @mJGiant * @myLog.m - @mIBaby
        </div>
    </div>
    <div class="row pb-1">
        <label class="pr-2">Проверка: </label>
        <div class="form-control little-form" style="width: 400px">
           @mHardPractice &le; @mHardTeory при больших p 
        </div>
    </div>

    @if (!mIsShowTable) {
        <button class="btn btn-nav" @onclick="@(() => { mIsShowTable = true; StateHasChanged(); })">Показать таблицу</button>
    } else {
        <div>
            <button class="btn btn-nav" @onclick="@(() => { mIsShowTable = false; StateHasChanged(); })">Спрятать таблицу</button>
        </div>
        <table style="float: left;">
            <thead>
                <tr>
                    <td>
                        Шаг
                    </td>
                    <td>
                        Малыш
                    </td>
                </tr>
            </thead>
            <tbody>
                @for (long i = 0; i < myLog.m; i++) {
                    <tr>
                        <td style="width: 100px">@i</td>
                        <td style="width: 100px">@mStepBabyShow[i]</td>
                        <td style="width: 100px">@mStepBaby.value[i]</td>
                        @*<td style="width: 100px">@stepBaby.value[stepBaby.index[i]]</td>
                            <td style="width: 100px">@stepBaby.index[i]</td>*@
                    </tr>
                }
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <td>
                        Шаг
                    </td>
                    <td>
                        Гигант
                    </td>
                </tr>
            </thead>
            <tbody>
                @for (long i = 1; i <= myLog.k; i++) {
                    <tr>
                        <td style="width: 100px">@i</td>
                        <td style="width: 100px">@mStepGiant[i]</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</EditForm>


