<h5 class="pt-4">Функция, реализующая обобщённый алгоритм Евклида. Функция должна позволять находить наибольший общий делитель и обе неизвестных из уравнения.</h5>

<h6>ax + by = gcd(a, b)<br /></h6>

<EditForm Model="EvklidNumbers">
    <div class="row pb-1">
        <label class="pr-2">a = </label>
        <InputNumber @bind-Value="@EvklidNumbers.A" Class="form-control little-form" id="a" style="width: 200px" min="0" max="999999999"></InputNumber>
    </div>
    <div class="row pb-1">
        <label class="pr-2">b = </label>
        <InputNumber @bind-Value="@EvklidNumbers.B" Class="form-control little-form" id="b" style="width: 100px" min="0" max="999999999"></InputNumber>
    </div>
</EditForm>

<div class="row pb-1">
    <button @onclick="@generateRandom" class="btn btn-nav">Сгенерировать</button>
</div>
<div class="row pb-4">
    <button class="btn btn-nav" @onclick="@Calculation">Найти</button>
</div>

<div class="row pb-1">
    <label class="pr-2">gcd(a, b) = </label>
    <div class="form-control little-form" style="width: 100px">@EvklidNumbers.R</div>
</div>
<div class="row pb-1">
    <label class="pr-2">x = </label>
    <div class="form-control little-form" style="width: 100px">@mX</div>
</div>
<div class="row pb-1">
    <label class="pr-2">y = </label>
    <div class="form-control little-form" style="width: 100px">@mY</div>
</div>
<div class="row pb-4">
    <label class="pr-2">Проверка: </label>
    <div class="form-control little-form" style="width: 100px">
        @(Check ? "Успех" : "Ошибка")
    </div>
</div>

@if (!mIsShowTable)
{
    <button class="btn btn-nav" @onclick="@(() => { mIsShowTable = true; StateHasChanged(); })">Показать таблицу</button>
}
else
{
    <div>
        <button class="btn btn-nav" @onclick="@(() => { mIsShowTable = false; StateHasChanged(); })">Спрятать таблицу</button>
    </div>
    @*    <div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>U</th>
                        <th>V</th>
                        <th>T</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in TablEvklid)
                    {
                        <tr>
                            <td>@model.U?.ToString()</td>
                            <td>@model.V?.ToString()</td>
                            <td>@model.T?.ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
    @if (TablEvklid != null && TablEvklid?.Count != 0)
    {
        <div style="float: left; width: 30%">

            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>U</td>
                    </tr>
                    <tr>
                        <td>V</td>
                        <td>U</td>
                    </tr>

                    @for (int i = 0; i < TablEvklid.Count - 2; i++)
                    {
                        <tr>
                            @for (int j = 0; j < i; j++)
                            {
                                <td> </td>
                            }
                            <td>T</td>
                            <td>V</td>
                            <td>U</td>
                        </tr>
                    }
                    <tr>
                        @for (int j = 0; j < TablEvklid.Count - 2; j++)
                        {
                            <td> </td>
                        }
                        <td>T</td>
                        <td>V</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float: left; width: 10%">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>@TablEvklid.First().U.ToString()</td>
                    </tr>
                    <tr>
                        <td>@TablEvklid.First().V.ToString()</td>
                    </tr>

                    @foreach (var model in TablEvklid)
                    {
                        <tr>
                            <td>@model.T?.ToString() </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div>Таблица пуста!</div>
    }
}